@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  /* margin: 0; */
  background-color: #001734;
}
.img {
  /* width: 20rem; */
  height: 15%;
  width: 18%;
  object-position: center;
  position: sticky;
  left: 40%;
  margin-top: px;
}
