* {
  box-sizing: border-box;
}
.left {
  display: inline-block;
  height: 30rem;
  width: 33%;
}
.center {
  display: flex;
  width: 33%;
  display: inline-block;
  height: 30rem;
}
.right {
  display: inline-block;
  width: 33%;
  height: 30rem;
}
