.forgetpwd-form {
  height: 250px;
}
.forgetpwd-form input {
  width: 300px;
  height: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #6faff9;
  border-radius: 10px;
}
.button-forget-pwd .pass-forget-pwd {
  background-color: #6faff9;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 0px;
}
.button-forget-pwd .pass-forget-pwd:hover {
  background-color: #fff;
  color: #6faff9;
  border: 1px solid #6faff9;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 0px;
}
