.adminteams-data-container {
  width: 900px;
  height: 600px;
  padding-top: 20px;
  position: relative;
  top: 20px;
  left: 25px;
  background-color: #1f344f;
  border-radius: 5px;
}
.card-admin-teams-cont {
  background-color: #1f344f;
  position: absolute;
  height: 700px;
  top: 290px;
  left: 500px;
  width: 950px;
  border-radius: 15px;
}
.placeholder-teams {
  position: absolute;
  text-align: center;
  left: 325px;
  top: 300px;
}
td {
  background-color: #1f344f;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30p;
}
.no-data-imgggg {
  align-items: center;
  margin-left: 60px;
  width: 75px;
  height: 75px;
  margin-bottom: 50px;
}
.placeholder-teams {
  background-color: #1d3756;
}
.manage-teams-ad {
  color: #fff;
  margin-left: 520px;
  margin-top: 180px;
}
.manage-teams-admin th {
  background-color: #1f344f;
  color: #fff;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}
.manage-teams-admin td {
  border: none;
  text-align: start;
  align-items: center;
  vertical-align: middle !important;
  margin: 10px;
  padding-top: 70px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 0px;
  height: 20px;
}

.modal-delete {
  margin-left: 20px;
  background-color: #1f344f;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}
.modal-delete .delete-btn-team-conf {
  background-color: #ff0000;
  color: #fff;
  font-size: 16px;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
  margin-left: 180px;
  margin-right: 10px;
}
.modal-delete .delete-btn-team-cncl {
  background-color: #fff;
  color: #001734;
  font-size: 16px;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
.ppf {
  width: 20px;
  height: 10px;
}
.body-ff {
  height: 20px;
}
.modal-delete p {
  color: #fff;
}
.edit-form-container {
  background-color: #1f344f;
}
.edit-form-container h3 {
  color: #fff;
}
.buttons-container .save-team {
  background-color: #ae8fde;
}
.buttons-container .save-team:hover {
  background-color: #ae8fde;
}
.buttons-container .cancel-team {
  background-color: #fff;
  color: #001734;
}
.buttons-container .cancel-team:hover {
  background-color: #fff;
  color: #001734;
}
